.App {
  text-align: center;
}

.search_title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:1.2rem;
  font-weight: bold;
  text-transform: uppercase;

}

.shop_title{
  font-size:1rem;
  font-weight: bold;
}

#resume{
  font-size:12px
}

#shopPreviewCard{
  box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.199);
}

#navbar{
  box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.199);
}

#moreFilterBox{
  box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.199);
}

#shop_container{
  display: flex;
}

#img_box_lft{
  float: left;
}

#img_box_rgt{
  float: right
}

