.App {
  text-align: center;
}

.shopTitle{
  text-align: center;
  text-transform: uppercase;
}

#card_img{
 width: 120px;
 display: block;
 margin-left: auto;
 margin-right: auto 
}

.card_container{
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.card_item{
  width: "50%"
}